
  <div class="input-block" >
    <div class="input-item" [ngClass]="inputFeature.variant">
      <div class="input-label">
        <div class="input-text">{{inputFeature.label}}</div>
      </div>
      <div class="input-container">
        <div class="input-field">
          <i class="icon icon-left fa fa-search" *ngIf="inputFeature.type === 'search'"></i>
          <input [placeholder]="inputFeature.placeholder" [type]="inputFeature.type"
          [readOnly]="inputFeature.readonly" [disabled]="inputFeature.disabled"
          >
          <i class="icon icon-right fa-solid fa-eye" *ngIf="inputFeature.type === 'password'"></i>
        </div>
        <div class="validation-icon">
          <i class="icon icon-right fa-solid fa-eye"></i>
        </div>
      </div>

    </div>
  </div>
