:host {
  display: block;
  width: 100%;
}

.input-block {
  display: block;
  padding: 8px;
  .input-item {
    display: flex;
    width: 100%;

    &.vertical {
      flex-direction: column;
    }
    &.horizontal {
      flex-direction: row;
      display: grid;
    }
    .input-label {
      padding: 8px 0px;
      grid-column: 1 / span 2;
      grid-row: row;
    }
    .input-container {
      grid-column: 3 / span 9;
      grid-row: row;
      position: relative;
      display: flex;
      width: inherit;
      .input-field {
        border: 1px solid #dbdbdb;
        display: flex;
        width: inherit;
        input {
          width: inherit;
          height: 30px;
          border: none;
          display: flex;
          width: inherit;
        }
        i {
          margin: 8px;
        }
      }

    }
    .validation-icon {
      i {
        margin: 8px;
      }
    }
  }
}
